@import '_content/R_BlazorFrontEnd.Controls/R_BlazorFrontEnd.Controls.bundle.scp.css';

/* /Shared/MainBody.razor.rz.scp.css */
.nav-tabs li a[b-cg252p0773] {
    line-height: 2;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    margin-right: -1px;
    color: #999;
    border-radius: 0;
}

    .nav-tabs li a i:first-child[b-cg252p0773] {
        margin-right: 3px;
    }

.nav-tabs .active a[b-cg252p0773] {
    background: #3498db !important;
    color: #fff !important;
}

.nav-tabs li a .bi-x[b-cg252p0773] {
    position: relative;
    top: -10px;
}

    .nav-tabs li a .bi-x:hover[b-cg252p0773] {
        color: red;
        cursor: pointer;
    }

.middletab .nav-tabs[b-cg252p0773] {
    overflow: hidden;
    white-space: nowrap;
}

.middletab-tabs[b-cg252p0773] {
    position: relative;
    width: 100000px;
}

.middletab .nav-tabs .nav-link[b-cg252p0773] {
    padding: .1rem 0rem .1rem 1rem;
}

.nav-my-tab[b-cg252p0773] {
    padding-left: 0px;
    margin-bottom: 0px;
    background: #fafafa;
    border-bottom: 2px #3498db solid;
}

    .nav-my-tab .middletab[b-cg252p0773] {
        height: 36px;
        overflow: hidden;
        position: relative;
    }

    .nav-my-tab li[b-cg252p0773] {
        list-style-type: none;
    }

        .nav-my-tab li a[b-cg252p0773] {
            padding: 5px 10px;
        }

    .nav-my-tab .leftbackward[b-cg252p0773] {
        float: left;
        background: #fff;
        padding-top: 7px;
        height: 36px;
        border-right: 1px #ddd solid;
    }

        .nav-my-tab .leftbackward a[b-cg252p0773] {
            border-left-width: 0px;
            color: #999;
            padding-top: 9px;
            padding-bottom: 8px;
            margin-right: -1px;
        }

            .nav-my-tab .leftbackward a:hover[b-cg252p0773] {
                text-decoration: none;
                background: #ddd;
            }

    .nav-my-tab .rightforward[b-cg252p0773] {
        float: right;
        background: #fff;
        padding-top: 7px;
        height: 36px;
        border-left: 1px #ddd solid;
    }

        .nav-my-tab .rightforward a[b-cg252p0773] {
            border-left-width: 0px;
            color: #999;
            padding-top: 9px;
            padding-bottom: 8px;
        }

            .nav-my-tab .rightforward a:hover[b-cg252p0773] {
                text-decoration: none;
                background: #ddd;
            }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-0bn6m2xx2m] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-0bn6m2xx2m] {
    flex: 1;
}

.sidebar[b-0bn6m2xx2m] {
    background-image: linear-gradient(53deg, rgb(227 177 0) 0%, #7c610e 50%);
}

.top-row[b-0bn6m2xx2m] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-0bn6m2xx2m]  a, .top-row[b-0bn6m2xx2m]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-0bn6m2xx2m]  a:hover, .top-row[b-0bn6m2xx2m]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-0bn6m2xx2m]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-0bn6m2xx2m] {
        display: none;
    }

    .top-row.auth[b-0bn6m2xx2m] {
        justify-content: space-between;
    }

    .top-row[b-0bn6m2xx2m]  a, .top-row[b-0bn6m2xx2m]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-0bn6m2xx2m] {
        flex-direction: row;
    }

    .sidebar[b-0bn6m2xx2m] {
        width: 170px;
        height: 100vh;
        position: sticky;
        top: 0;
        overflow-x:auto;
    }

    .top-row[b-0bn6m2xx2m] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-0bn6m2xx2m]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-0bn6m2xx2m], article[b-0bn6m2xx2m] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-wpi9hb9hz2] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-wpi9hb9hz2] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-wpi9hb9hz2] {
    font-size: 1.1rem;
}

.oi[b-wpi9hb9hz2] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-wpi9hb9hz2] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-wpi9hb9hz2] {
        padding-top: 0.5rem;
    }

    .nav-item:last-of-type[b-wpi9hb9hz2] {
        padding-bottom: 0rem;
    }

    .nav-item[b-wpi9hb9hz2]  a {
        color: rgba(0,0,0,0.5);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 1rem;
        font-size: 11px;
    }

    .nav-item[b-wpi9hb9hz2]  a.active {
        background-color: rgba(0,0,0,0.5);
        color: white;
    }

    .nav-item[b-wpi9hb9hz2]  a:hover {
        background-color: rgba(0,0,0,0.25);
        color: white;
    }

@media (min-width: 641px) {
    /*.navbar-toggler {
        display: none;
    }*/

    .collapse[b-wpi9hb9hz2] {
         /*Never collapse the sidebar for wide screens*/ 
        display: block;
    }

    .nav-item a.active[b-wpi9hb9hz2]::after {
        content:"*";
        margin-left:0.5em;
    }
}
